@media only screen and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero img {
    width: 350px;
    height: 320px;
  }

  .container {
    width: 100%;
  }

  .product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
  }
}
